 @font-face {
    font-family: 'Arcade';
    src: url('fonts/ARCADE_R.ttf')
}

 @font-face {
    font-family: 'Arcade_Normal';
    src: url('fonts/ARCADE_N.ttf')
}

*{
	margin: 0;
	box-sizing: border-box;
}

html{
overflow-x: hidden;
overflow-y: hidden;
}

.container{
	text-align: center;
	padding-top: 30px;
}


h2{
	padding: 10px;
	font-family: Arcade;
}

#b_computer{
margin-bottom: 100px;	
}

#b_user{
margin-bottom: 100px;	
}

#b_computer, #b_user, #b_result{
color: white;
}
#result{
	font-family: Arcade_Normal;
	color: red;
	text-shadow: 2px black;
	font-size: 25px;
}

#rock{
background: url('img/rock.png');
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}

#paper{
background: url('img/paper.png');
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}
#scissors{
background: url('img/scissors.png');
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}

button{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 40px;
	color: transparent;
	font-size: 50px;
	padding: 50px;
	transition: all 0.5s ease-in-out;
}

button:hover{
    transform: scale(1.08);
	transition: all 0.5s ease-in-out;
}

#computer-choice{
	background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
	color: transparent;
    padding: 60px;
    background-position: center;
}

#user-choice{
	background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;
	color: transparent;
    padding: 60px;
    background-position: center;
}

.results{
	position: absolute;
	background: blue;
	top: 0;
	left: -50%;
	width: 50%;
	height: 100vh;
    transition: all 1s ease-in-out; 
    z-index: 9999;
}

.results2{
	width: 50%;
	position: absolute;
	background: blue;
	top:0 ;
	left: 100%;
	width: 50%;
	height: 100vh;
	transition: all 1s ease-in-out;
	z-index: 9999;
}

.results3{
	width: 50%;
	position: absolute;
	background: blue;
	top:1000px ;
	left: 0;
	width: 100%;
	height: 100vh;
	transition: all 1.8s ease-in-out;
	z-index: 9999;
}

#reset{
	display: block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 40px;
	color: black;
	font-size: 20px;
	padding: 10px;
	transition: all 0.5s ease-in-out;
	font-family: Arcade;
}

